
body {
  background-color : #EBACA2;
  color            : #000000;
}

@media only screen and (prefers-color-scheme: dark) {
body {
  background-color : #4A919E;
  color            : #ffffff;
}

}
header {
  background-color : #CE6A6B;
}

@media only screen and (prefers-color-scheme: dark) {
header {
  background-color : #212E53;
}

}
header .site-name {
  color : #000000;
}

@media only screen and (prefers-color-scheme: dark) {
header .site-name {
  color : #ffffff;
}

}
.item-list > li {
  background-color : #CE6A6B;
}

@media only screen and (prefers-color-scheme: dark) {
.item-list > li {
  background-color : #212E53;
}

}
.tag-list li, .tag {
  background-color : #BED3C3;
  color            : #000000;
}

footer {
  color : #ffffff;
}

@media only screen and (prefers-color-scheme: dark) {
footer {
  color : #000000;
}

}
.image {
  background-color : #BED3C3;
}

.tg {
  border-collapse : collapse;
  margin-top      : 10px;
  margin-bottom   : 10px;
  margin-right    : auto;
  margin-left     : auto;
}

.tg, .tg td, .tg th {
  border-top-color    : #000000;
  border-right-color  : #000000;
  border-bottom-color : #000000;
  border-left-color   : #000000;
  border-top-style    : solid;
  border-right-style  : solid;
  border-bottom-style : solid;
  border-left-style   : solid;
  border-top-width    : 2px;
  border-right-width  : 2px;
  border-bottom-width : 2px;
  border-left-width   : 2px;
  font-family         : Arial,sans-serif;
  font-size           : 14px;
  padding-top         : 15px;
  padding-bottom      : 15px;
  padding-right       : 10px;
  padding-left        : 10px;
  vertical-align      : middle;
}

.tg .tg-wp8o {
  font-weight : normal;
  text-align  : center;
}

.tg .tg-mqa1 {
  font-weight : bold;
  text-align  : center;
}

.tg .tg-mcqj {
  font-weight : bold;
  text-align  : left;
}

.tg .tg-col {
  width : 80px;
}

.tg .tg-colh {
  width : 72px;
}

* {
  margin-top         : 0;
  margin-right       : 0;
  margin-bottom      : 0;
  margin-left        : 0;
  padding-top        : 0;
  padding-right      : 0;
  padding-bottom     : 0;
  padding-left       : 0;
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -ms-box-sizing     : border-box;
  -o-box-sizing      : border-box;
  box-sizing         : border-box;
}

body {
  font-family : Helvetica,Arial;
  text-align  : center;
}

.wrapper {
  max-width      : 900px;
  margin-right   : auto;
  margin-left    : auto;
  padding-top    : 40px;
  padding-right  : 40px;
  padding-bottom : 40px;
  padding-left   : 40px;
  text-align     : left;
}


header .wrapper {
  padding-top    : 30px;
  padding-bottom : 30px;
  text-align     : center;
}

header a {
  text-decoration : none;
}

header .site-name {
  font-size   : 1.5em;
  font-weight : bold;
}

nav {
  margin-top : 20px;
}

nav li {
  display       : inline-block;
  margin-top    : 0;
  margin-bottom : 0;
  margin-right  : 7px;
  margin-left   : 7px;
  line-height   : 1.5em;
}

nav li .selected {
  text-decoration : underline;
}

h1 {
  margin-bottom : 20px;
  font-size     : 2em;
}

h2 {
  margin-top    : 20px;
  margin-bottom : 20px;
  margin-right  : 0;
  margin-left   : 0;
}

p, ul {
  margin-bottom : 10px;
}

ul {
  margin-left : 40px;
}

a {
  color : inherit;
}

.description {
  margin-bottom : 40px;
}

.item-list > li {
  display                    : block;
  padding-top                : 20px;
  padding-right              : 20px;
  padding-bottom             : 20px;
  padding-left               : 20px;
  border-top-left-radius     : 20px;
  border-top-right-radius    : 20px;
  border-bottom-right-radius : 20px;
  border-bottom-left-radius  : 20px;
  margin-bottom              : 20px;
}

.item-list > li:last-child {
  margin-bottom : 0;
}


.item-list h1 {
  margin-bottom : 15px;
  font-size     : 1.3em;
}

.item-list p {
  margin-bottom : 0;
}

.tag-list {
  margin-bottom : 15px;
}

.tag-list li, .tag {
  display                    : inline-block;
  padding-top                : 4px;
  padding-bottom             : 4px;
  padding-right              : 6px;
  padding-left               : 6px;
  border-top-left-radius     : 5px;
  border-top-right-radius    : 5px;
  border-bottom-right-radius : 5px;
  border-bottom-left-radius  : 5px;
  margin-right               : 5px;
}

.tag-list a, .tag a {
  text-decoration : none;
}

.item-page .tag-list {
  display : inline-block;
}

.content {
  margin-bottom : 40px;
}

.browse-all {
  display       : block;
  margin-bottom : 30px;
}

.all-tags li {
  font-size      : 1.4em;
  margin-right   : 10px;
  padding-top    : 6px;
  padding-bottom : 6px;
  padding-right  : 10px;
  padding-left   : 10px;
}

.image {
  width         : 100%;
  margin-bottom : 20px;
}

@media only screen and (max-width: 600px) {

.tg {
  max-width      : 400px;
  display        : block;
  overflow-x     : auto;
  border-spacing : 0;
}

.tg td, .tg th {
  padding-top       : 15px;
  padding-bottom    : 15px;
  padding-right     : 10px;
  padding-left      : 10px;
  border-top-width  : 0;
  border-left-width : 0;
}

.tg th {
  position : sticky;
  top      : 0;
}

.tg th > :last-child, .tg td > :last-child {
  border-right-width : 0;
}

.tg tr > :last-child td {
  border-bottom-width : 0;
}

}
@media only screen and (max-width: 600px) {

.wrapper {
  padding-top    : 40px;
  padding-bottom : 40px;
  padding-right  : 20px;
  padding-left   : 20px;
}

}
